html,
body,
p,
h1,
h2,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #23252C;
    color: #2B283A;
}

.business-card {
    width: 320px;
    margin: 40px auto;
    /* background-color: #9fd; */
    /*dbg */
    border-radius: 8px;
    overflow: hidden;
}

.business-card>.credentials {
    text-align: center;
    overflow: auto;
}

.business-card>.credentials .full-name {
    font-size: 26px;
    margin-top: 16px;
}

.business-card>.credentials .position {
    font-size: 13px;
    color: #F47D27;
    font-weight: normal;
    margin-top: 4px;

}

.business-card>.credentials .personal-web-page {
    margin-top: 4px;
    margin-bottom: 16px;
}

.business-card>.credentials .personal-web-page a {
    font-size: 11px;
    color: #4A4E74;
    text-decoration: none;
}

.business-card>.credentials .personal-web-page a:hover {
    color: #F47D27;
}

.business-card>.credentials>img.credentials-photo {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.business-card>.credentials,
.business-card>.contacts,
.business-card>.about-me {
    background-color: #F5F5F5;
}


.business-card>.contacts,
.business-card>.about-me,
.business-card>.social-links {
    padding: 0 32px;
    overflow: hidden;
}

.business-card>.contacts {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.business-card>.contacts .button {
    display: inline-block;
    color: #374151;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-size: 14px;
    /* font-weight: 600; */
    box-sizing: border-box;
    width: 120px;
    text-align: center;
}

.business-card>.contacts .button.email:hover {
    border-color: #bbb;
}

.business-card>.contacts .button>img {
    padding-right: 8px;
}

.business-card>.contacts .button.linkedin>img {
    margin-bottom: -2px;
}

.business-card>.contacts .button.linkedin {
    background-color: #297FE5;
    color: #fff;
}

.business-card>.contacts .button.linkedin:hover {
    background-color: #49f;
}

.business-card>.social-links {
    background-color: #D5D4D8;
}

.business-card>.about-me {
    padding-bottom: 32px;
}

.business-card>.about-me h2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.business-card>.about-me p {
    font-size: 10px;
    margin-bottom: 16px;
    color: #4A4E74;
}

.business-card>.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 56px;
}

.business-card>.social-links img {
    display: block;
}