html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    min-height: 100%;
    margin: auto;
}

body,
#root {
    min-height: 100%;
    overflow: hidden;
}

.header {
    box-shadow: 5px 5px 5px #ccc;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    padding: 0 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 40px;
}

.footer {
    background-color: #ccc;
}