html,
body,
h1,
p {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

#react_app {
    --purple-dark: #672280;
    --purple-lite: #A626D3;

    --content-max-width: 720px;
    --content-min-width: 440px;

}

.bg-gradient-purple {
    color: #fff;
    background: var(--purple-dark);
    background: linear-gradient(90deg, var(--purple-dark) 0%, var(--purple-lite) 100%);
}

.flex-y-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);

}

/* Header */

.header {
    /* background: blue; */
    height: 80px;
    background: var(--purple-dark);
    background: linear-gradient(90deg, var(--purple-dark) 0%, var(--purple-dark) 50%, var(--purple-lite) 50%, var(--purple-lite) 100%);
}

.header>.inner-content {

    height: 100%;

    justify-content: space-between;
}

.header .site-logo img {
    margin-right: 10px;
    height: 36px;
}

.header .site-logo .title {
    font-size: 24px;
    font-weight: 600;
}

.header .slogan {
    font-size: 18px;
    margin-right: 10px;
}

/* MemeInput */
.meme-input {
    margin: 36px 0;
}

.meme-input form .row {
    padding: 0 10px;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0;
}

.meme-input form input,
.meme-input form button {
    height: 36px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    text-indent: 10px;
    /* padding: 0 10px; */

    font-family: 'Karla', sans-serif;
}

.meme-input form input[type="text"] {
    border: 1px solid #D5D4D8;
    margin-left: 20px;
}

.meme-input form input[type="text"]:first-child {
    margin-left: inherit;
}

.meme-input form button {
    border: none;
    height: 40px;
    cursor: pointer;
}