html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html,
body,
#root,
#react-app {
    height: 100%;
}

#react-app {
    --color-bg: #0B2434;
    --color-fg: #F5F5F5;
    --color-text-h: #2B283A;
    --color-text-p: #4A4E74;
    --color-button: #5035FF;
    --color-white: #fff;


    color: var(--color-text-h);
    background-color: var(--color-bg);

    width: 100%;
    height: 100%;
    /* padding: 10px; */
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#react-app p {
    color: var(--color-text-p);
}

#react-app>.container {
    background-color: var(--color-fg);
    width: 400px;
    height: 400px;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

#react-app .info {
    text-align: center;
    margin-top: 40px;
    padding: 0 40px;
}



#react-app .gameboard {
    margin-top: 20px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, auto);
}

#react-app .gameboard .die {
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin: 6px;
    border-radius: 6px;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);

    cursor: pointer;
}

#react-app .gameboard .die.locked {
    background-color: #59E391;
}

#react-app .gameboard .die:hover {
    background-color: #aae8bb;
}

#react-app .gameboard .die.locked:hover {
    background-color: #4d8;
}

#react-app button {
    border-radius: 4px;
    background-color: var(--color-button);
    border: none;
    color: var(--color-white);
    font-size: 20px;
    padding: 8px 18px;
    /* width: 100px; */
    cursor: pointer;

    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


#react-app button:hover {
    background-color: #64F;
}